openapi: 3.0.1
info:
  title: IPS Sales API
  description: |
    API to enable sales automation
    Hosts:
    - Production: api.auth1.avalara.com/ws/rest/sales
    - Test: testapi.auth1.avalara.com/ws/rest/sales
  version: v1
servers:
  - url: https://testapi.auth1.avalara.com/ws/rest/sales
  - url: https://api.auth1.avalara.com/ws/rest/sales
paths:
  /connector:
    post:
      tags:
        - connector
      summary: Create SF Connector
      description: Create Connector for ARA/MRA Customer
      parameters:
        - name: secure
          in: header
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAPIResponse'
  /new/{offerCode}:
    post:
      tags:
        - new
      summary: Sell offer to customer
      description: Endpoint to sell a distinct offer to an existing customer by SF
        account ID
      parameters:
        - name: offerCode
          in: path
          required: true
          schema:
            type: string
        - name: x-correlation-id
          in: header
          schema:
            type: string
        - name: secure
          in: header
          required: true
          schema:
            type: string

      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sendToQueueOffercode'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/onlineSalesApiMasterResponse'

      x-codegen-request-body-name: send_To_Queue_Offercode_Json
  /offercode/config:
    get:
      tags:
        - offercode
      summary: Get List of Available Offer Codes
      parameters:
        - name: secure
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/offerConfigResponse'
  /offercode/sold/{accountId}:
    get:
      tags:
        - offercode
      summary: Get offers sold to account
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: string
        - name: secure
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
               $ref: '#/components/schemas/accountOfferCodeResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/400'
        '503':
          $ref: '#/components/responses/503'
components:
  schemas:
    CreateAPIResponse:
      type: object
      properties:
        Connector:
          type: object
          properties:
            author:
              type: string
            avalaraProduct:
              type: string
            cpqId:
              type: string
            customerAccountId:
              type: string
            managedBy:
              type: string
            name:
              type: string
            opportunityId:
              type: string
            opportunityLineItemId:
              type: string
            partnerTeamGrouping:
              type: string
            recordTypeId:
              type: string
            vibrancy:
              type: string
        Message:
          type: string
        Success:
          type: string
      description: '#PLAUNCH-6940'
    SubscriptionRequest:
      type: object
      properties:
        BillingaccountId:
          type: string
        additionalInformation:
          type: string
        address1:
          type: string
        address2:
          type: string
        alternateInvoiceOwner:
          type: string
        amount:
          type: number
          format: float
        businessActivityType:
          type: string
        campaignId:
          type: string
        city:
          type: string
        companyName:
          type: string
        correlationId:
          type: string
        country:
          type: string
        customerAccountId:
          type: string
        email:
          type: string
        externalId:
          type: string
        firstName:
          type: string
        freeMonths:
          type: string
        interestInProductsServices:
          type: string
        lastName:
          type: string
        leadSource:
          type: string
        levelNumber:
          type: number
          format: double
        lineItems:
          type: array
          items:
            type: object
            properties:
              amendType:
                type: string
              billingPeriod:
                type: string
              chargeModel:
                type: string
              chargeNumber:
                type: string
              chargeType:
                type: string
              connectorId:
                type: string
              currency:
                type: string
              discountPercentage:
                type: number
                format: float
              groupID:
                type: string
              listPrice:
                type: number
                format: float
              offerCode:
                type: string
              overagePrice:
                type: number
                format: float
              price:
                type: string
              priceFormat:
                type: string
              priceOverride:
                type: string
              pricebookEntryId:
                type: string
              productDescription:
                type: string
              productName:
                type: string
              productRatePlanChargeId:
                type: string
              productRatePlanId:
                type: string
              productRatePlanTierId:
                type: string
              quantity:
                type: number
                format: double
              ratePlanChargeId:
                type: string
              ratePlanConnectorId:
                type: string
              ratePlanId:
                type: string
              ratePlanTierId:
                type: string
        methodOfContact:
          type: string
        offerCode:
          type: string
        organizationId:
          type: string
          description: An IAM-DS organizationId associated with the customerAccountId
        partnerId:
          type: string
        payment:
          type: object
          properties:
            paymentMethodId:
              maxLength: 32
              minLength: 32
              type: string
        phoneNumber:
          type: string
        platformVersion:
          type: string
        postalCode:
          type: string
        productsOfInterest:
          type: string
        salesPersonId:
          type: string
        state:
          type: string
        subscriptionId:
          type: string
        subscriptionTerm:
          type: string
        taxExempt:
          type: string
        tenantId:
          type: string
          description: An IAM-DS tenantId associated with the customerAccountId
        tierNumber:
          type: string
        webProperty:
          type: string
      description: |-
        API Request for Subscription Worflow.
        #PLAUNCH-6940
    onlineSalesApiMasterResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
        message:
          type: string
      description: '#PLAUNCH-6940'
    offerConfigResponse:
      type: object
      properties:
        options:
          type: array
          items:
            type: object
            properties:
              offerId:
                type: string
              Term:
                type: string
              type:
                type: string
              interestInProductsServices:
                type: string
              methodOfContact:
                type: string
              offer:
                type: string
              currencyISOCode:
                type: string
              renewalTerm:
                type: number
              lineitems:
                type: array
                items:
                  type: object
                  properties:
                    pricebookEntryId:
                      type: string
                    billingPeriod:
                      type: string
                    productRatePlanTierId:
                      type: string
                    productName:
                      type: string
                    tier:
                      type: number
    sendToQueueOffercode:
      type: object
      properties:
        addItems:
          type: array
          items:
            type: object
            properties:
              productCode:
                type: string
        avataxId:
          type: string
        connectorId:
          type: string
        currencyCode:
          type: string
        customerAccountId:
          type: string
        discountPercent:
          type: number
          format: float
        freeMonths:
          type: string
        includeSupport:
          type: string
        marketingContext:
          type: object
          properties:
            opportunity:
              type: object
              properties:
                campaignId:
                  type: string
                interestInProductsServices:
                  type: string
                leadSource:
                  type: string
                methodOfContact:
                  type: string
                partnerId:
                  type: string
                productsOfInterest:
                  type: string
                webProperty:
                  type: string
            account:
              type: object
              properties:
                campaignId:
                  type: string
                interestInProductsServices:
                  type: string
                leadSource:
                  type: string
                methodOfContact:
                  type: string
                partnerId:
                  type: string
                productsOfInterest:
                  type: string
                webProperty:
                  type: string
            contact:
              type: object
              properties:
                campaignId:
                  type: string
                interestInProductsServices:
                  type: string
                leadSource:
                  type: string
                methodOfContact:
                  type: string
                partnerId:
                  type: string
                productsOfInterest:
                  type: string
                webProperty:
                  type: string
        organizationId:
          type: string
        parentAvataxId:
          type: string
        parentCustomerAccountId:
          type: string
        paymentMethodId:
          type: string
        planType:
          type: string
        product:
          type: array
          items:
            type: object
            properties:
              cpqid:
                type: string
              segment:
                type: array
                items:
                  type: object
                  properties:
                    countryCode:
                      type: string
                    countryName:
                      type: string
        quantity:
          type: string
        salesRepId:
          type: string
        tenantId:
          type: string
        tierNumber:
          type: string
      description: |-
        Input profile for the new sales send_to_Queue.
        #PLAUNCH-6940
    accountOfferCodeResponse:
      type: array
      items:
        type: object
        properties:
          customerId:
            type: string
          offers:
            type: array
            minItems: 0
            items:
              type: object
              properties:
                offerCode:
                  type: string
                createdDate: 
                  type: "string"
                correlationId:
                  type: "string"
                connectorId:
                  type: "string"
                dealinfoId:
                  type: "string"
                opportunityId:
                  type: "string"
                quoteId:
                  type: "string"
                orderId:
                  type: "string"
                orderProcessingStatus:
                  type: "string"
                contractId:
                  type: "string"
                contractStatus:
                  type: "string"
                fasterProvisioningSent:
                  type: "string"
          success:
            type: string
          errorMessage:
            type: string
  responses:
    '400':
      description: Bad Request
    '401':
      description: Unauthorized
    '404':
      description: Not Found - Invalid URL path.
    '413':
      description: Request Entity Too Large
    '500':
      description: Internal Server Error
    '503':
      description: Service Unavailable
    default:
      description: Unidentified Exception
